<!DOCTYPE html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Open Graph Protocol -->
  <meta property="og:title" content="Vue.jsでタイピングゲーム" />
  <meta property="og:site_name" content="タイピングゲーム" />
  <meta property="og:description"
    content="Vue.jsを学んでみたかったので、動画を見ながら作ってみました。カレー味のうん◯ことうん◯こ味のカレーだったらどっちが好きですか？僕はうん◯こ味のカレー派です。" />
  <meta property="og:url" content="https://kwsmhryk.github.io/vue-typing-game/" />
  <meta property="og:image" content="https://kwsmhryk.github.io/vue-typing-game/img/unko.png" />
  <meta property="og:type" content="website" />
  <meta name="twitter:site" content="@kawa_enjineer" />
  <meta name="twitter:creator" content="@kawa_enjineer" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:title" content="Vue.jsでタイピングゲーム" />
  <meta property="og:site_name" content="タイピングゲーム" />
  <meta property="og:description"
    content="Vue.jsを学んでみたかったので、動画を見ながら作ってみました。カレー味のうん◯ことうん◯こ味のカレーだったらどっちが好きですか？僕はうん◯こ味のカレー派です。" />
  <meta property="og:url" content="https://kwsmhryk.github.io/vue-typing-game/" />
  <meta property="og:image" content="https://kwsmhryk.github.io/vue-typing-game/img/unko.png" />
  <meta property="og:type" content="website" />
  <meta name="twitter:site" content="@kawa_enjineer" />
  <meta name="twitter:creator" content="@kawa_enjineer" />
  <meta name="twitter:card" content="summary_large_image" />
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app" class="container">
    <div class="title">
      <h1>💩タイピングゲーム💩</h1>
      <div class="marker"></div>
    </div>
    <button v-if="startFlg!=true" class="startButton mb-20" @click="gameStart">スタート</button>
    <div v-if="startFlg">
      <div class="question mb-20">{{ current_question }}</div>
      <div v-if="current_question_counts == question_counts" class="clear">クリア!</div>
      <div class="typeFormWrapper mb-20">
        <input id="typeForm" v-model="typeBox" type="text" class="typeForm">
      </div>
  
      <div class="gaugeWrapper mb-20">
        <div v-bind:style="styleObject" class="gauge"></div>
      </div>
      <div>{{ current_question_counts }}/{{ question_counts }}</div>
    </div>
  </div>
</body>
<script>
  new Vue({
    el: "#app",
    data: {
      startFlg: "",
      current_question: "",
      questions: [
        'kare-azino',
        'unnkoto',
        'unnkoazinokare-',
        'dattara',
        'unnkoazinokare-',
      ],
      typeBox: "",
      current_question_counts: 0,
      question_counts: 0
    },
    computed:{
      styleObject:function(){
        width = 20 * this.current_question_counts + "%"
        if(this.current_question_counts == 5){
          color = "#03a9f4"
        }else{
          color = "orange"
        }
        return {
          'width': width,
          'background-color': color
        }
      }
    },
    methods:{
      gameStart: function() {
        this.startFlg = true;
        this.$nextTick(function(){
          document.getElementById('typeForm').focus()
        })
      }
    },
    mounted:function() {
      this.current_question = this.questions[0]
      this.question_counts = this.questions.length
    },
    watch: {
      typeBox:function(e){
        if(e == this.current_question) {
          this.questions.splice(0,1)
          this.current_question = this.questions[0]
          this.typeBox = ""
          this.current_question_counts = this.current_question_counts + 1

        }
      }
    }
  })
</script>
</html>
